.tabla-mantenimiento{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 10px;
}
.button{
    margin: 10px;
}
.btnes-añadir{
    margin-left: 5%;
    width:220px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.buscar{
    margin-left: 37px;
    
}
.perfil{
    background-color: rgb(45, 44, 61);
    padding: 15px;
    height: 1450px;
}
