.tabla-mantenimiento{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 10px;
}
.button{
    margin: 10px;
}
.btnes-añadir{
    margin-left: 5%;
    width:220px;
    margin-top: 20px;
    margin-bottom: 20px;
}